<a href="https://colab.research.google.com/github/ErnestoReyes27/Data_Analytics_Aplicado_a_Tienda_de_Bicis/blob/main/Proyecto_Prototype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [9]:
customer_demographics = pd.read_csv("https://raw.githubusercontent.com/ErnestoReyes27/Data_Analytics_Aplicado_a_Tienda_de_Bicis/main/customer_demographics.csv",index_col=0)

customer_demographics.head()

customer_demographics

                 first_name  last_name  ... owns_car  tenure
customer_id                             ...
1                   Laraine  Medendorp  ...      Yes    11.0
2                       Eli    Bockman  ...      Yes    16.0
3                     Arlin     Dearle  ...      Yes    15.0
4                    Talbot        NaN  ...       No     7.0
5            Sheila-kathryn     Calton  ...      Yes     8.0
...                     ...        ...  ...      ...     ...
3996                Rosalia   Halgarth  ...       No    19.0
3997                 Blanch     Nisuis  ...      Yes     1.0
3998                 Sarene    Woolley  ...       No     NaN
3999              Patrizius        NaN  ...      Yes    10.0
4000                  Kippy    Oldland  ...       No    11.0

[4000 rows x 11 columns]

In [12]:
transactions = pd.read_csv("https://raw.githubusercontent.com/ErnestoReyes27/Data_Analytics_Aplicado_a_Tienda_de_Bicis/main/transactions.csv",index_col=0)

transactions.head()

transactions

                product_id  customer_id  ... standard_cost product_first_sold_date
transaction_id                           ...
1                        2         2950  ...         53.62              2012-12-02
2                        3         3120  ...        388.92              2014-03-03
3                       37          402  ...        248.82              1999-07-20
4                       88         3135  ...        381.10              1998-12-16
5                       78          787  ...        709.48              2015-08-10
...                    ...          ...  ...           ...                     ...
19996                   51         1018  ...       1203.40              2003-07-21
19997                   41          127  ...        312.74              1997-05-10
19998                   87         2284  ...         44.71              2010-08-20
19999                    6         2764  ...        136.73              2004-08-17
20000                   11         1144  ...       1580.47              1999-06-23

[20000 rows x 12 columns]